<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="../img/all_style.css">
    </head>
    <body>
        <div id="grid">
            <header></header>
            <nav>
                <div id="menu-inner" class="no-p">
                    <span id="nav-sections" class="nav-header">
                        <span class="a-left nav-desk">《</span><b>Navigation</b><span class="a-right nav-desk">》</span>
                    </span><!--
                    --><div id="gen-menu" class="nav-span"></div>
                    <hr id="subpages-hr" class="nav-desk nav-hr">
                    <span id="nav-subpages" class="nav-desk nav-header" aria-hidden="true">
                        <span class="a-left">《</span><b>Subpages</b><span class="a-right">》</span>
                    </span><!--
                    --><div id="gen-subpages" class="nav-desk nav-span" aria-hidden="true"></div>
                    <hr id="nav-hr" class="nav-desk nav-hr">
                    <span id="nav-banner-toc" class="nav-desk nav-header" aria-hidden="true">
                        <span class="a-left">《</span><b>Contents</b><span class="a-right">》</span>
                    </span><!--
                    --><div id="gen-toc" class="nav-desk nav-span" aria-hidden="true"></div>
                </div>
            </nav>
            <main><article></article></main>
        </div>
    </body>
</html>
