/* Variables */
body {
    --grid-spacing: 0.35em;

    --color-border: #c480ff;
    --color-link: #af5ff5;
    --color-text: #601e9a;
    --color-code: var(--color-text);
    --color-code-block: var(--color-text);
    --color-background-main: rgba(254, 250, 255, 0.85);
    --color-background-secondary: rgba(255, 255, 255, 0.6);

    --font-title: "Rounded Mplus 1c Bold", sans-serif;
    --font-symbol: "Hachi Maru Pop", sans-serif;
    --font-main: "M PLUS 2", sans-serif;
    --font-mono: "Noto Sans Mono", "M PLUS 2", monospace;
}

/* Composable elements */
h1, .h0, .center {
    text-align: center;
}

.small {
    font-size: 0.8rem;
}

.full {
    width: 100%;
}

.monospace {
    font-family: monospace;
}

.hide {
    display: none;
}

.no-p > p {
    margin: 0;
}

/* Code formatting */
div.highlight {
    overflow-x: auto;
}

:not(div.highlight > pre) > code {
    color: var(--color-code);
}

.highlight {
    color: var(--color-code-block);
}

.highlight, :not(div.highlight > pre) > code {
    background-color: var(--color-background-secondary);
    border-color: var(--color-border);
    border-style: dotted;
    border-width: 1px;
    padding: 0 1px 1px 1px;
}

.highlight, code, .highlight > pre {
    font-family: var(--font-mono);
    font-weight: 380;
    font-size: 0.9rem;
}

.highlight > pre {
    padding: 0.67em;
    margin: 0;
}

/* General Elements */
body {
    background: #dcf8ef url('background_main.jpg') repeat fixed 0 -60px;
    font-family: var(--font-main);
    font-weight: 420;
    color: var(--color-text);
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

a {
    font-weight: 430;
}

b, strong {
    font-weight: 610;
}

img {
    border: 0;
}

.h0:before {
    content: "☆ ";
    font-family: var(--font-symbol);
}

.h0:after {
    content: " ☆";
    font-family: var(--font-symbol);
}

:not(ol) > li::marker {
    content: "☆  ";
    font-family: var(--font-symbol);
}

ul {
    margin: 0;
    padding-left: 1.75em;
}

blockquote, table {
    margin: 0;
    padding: 0.01em 0.7em 0.01em  0.7em;
    border-color: var(--color-border);
    border-style: dotted;
    border-width: 0 0 0 0.15em;
}

.section {
    float: right;
    user-select: none;
    font-family: var(--font-symbol);
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "《  ";
    font-family: var(--font-symbol);
}

h2::after, h3::after, h4::after, h5::after, h6::after {
    content: "  》";
    font-family: var(--font-symbol);
}

.a-left {
    float: left;
}

.a-right {
    float: right;
}

.a-left, .a-right {
    font-family: var(--font-symbol);
    user-select: none;
}

.h0, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

.h0 {
    font-size: 3.65em;
    margin: 0.1em 0 0 0;
    padding: 0 0 0.3em 0;
}

h1 {
    font-size: 2.5em;
    margin: 0.1em 0 0 0;
    padding: 0 0 0.3em 0;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.4em;
}

.h0 {
    width: 100%;
    display: block;
}

:not(li) > ul, p {
    margin: 0.8rem 0 0.8rem 0;
}

.nav-span > ul {
    margin: 0.2em 0 0.2em 0;
}

li > ul {
    margin: 0.2rem 0 0.2rem 0;
}

h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 0.8rem 0;
}

h1 + h2 {
    margin: 0.75rem 0 0.8rem 0;
}

hr {
    height: 1px;
    padding: 0;
}

h1, hr {
    border-color: var(--color-border);
    border-style: dotted;
    border-width: 0 0 2px 0;
}

a:link, a:visited {
    color: var(--color-link);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Page elements */
#grid {
    display: grid;
    gap: var(--grid-spacing);
    padding-left: var(--grid-spacing);
    padding-right: var(--grid-spacing);
    padding-bottom: var(--grid-spacing);

    width: 100%;
    max-width: 70em;
}

nav, #menu-inner, article {
    box-sizing: border-box;
}

article {
    width: 100%;
    min-height: 100%;
    padding: 5px 15px 5px 15px;
}

#menu-inner, article {
    background-color: var(--color-background-main);
    border-color: var(--color-border);
    border-style: dotted;
    border-width: 1px;
}

#menu-inner {
    width: 100%;
    position: sticky;
    top: var(--grid-spacing);
    padding: 5px 10px 5px 10px;
}

#nav-hr {
    margin: 1em 0 1em 0;
}

/* Media queries */
@media only screen and (min-width: 70em) {
    #grid {
        grid-template-columns: 15em 1fr;
        grid-template-rows: 0fr 1fr;
    }

    header {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    nav {
        grid-row: 2;
        grid-column: 1;
    }

    main {
        grid-row: 2;
        grid-column: 2;
    }

    .nav-header {
        display: block;
        margin-bottom: 0.35em;
        font-family: var(--font-title);
        text-align: center;
    }
}

@media not screen and (min-width: 70em) {
    #grid {
        grid-template-rows: 0fr 0fr 1fr;
    }

    header {
        grid-row: 1;
        grid-column: 1;
    }

    nav {
        grid-row: 2;
        grid-column: 1;
    }

    main {
        grid-row: 3;
        grid-column: 1;
    }

    #nav-hr, #nav-banner-toc, #gen-toc {
        display: none;
    }

    #gen-menu > ul, #gen-menu > ul > li {
        display: inline;
        padding: 0;
    }

    #gen-menu > ul > li:before {
        content: "  ☆  ";
        font-family: var(--font-symbol);
    }

    .nav-dec {
        display: none;
    }
}
