///
/// Variable Declarations
///

$grid_spacing: 0.35em !default;

$color_border: #f66 !default;
$color_link: #66f !default;
$color_text: #000 !default;
$color_code: $color_text !default;
$color_code_block: $color_text !default;

$border_style_main: solid !default;
$border_width_main: 1px !default;

$border_style_code: $border_style_main !default;
$border_width_code: 1px !default;

$border_style_secondary: $border_style_main !default;
$border_width_secondary: 1px 1px 1px 2px !default;

$border_style_subability: $border_style_main !default;
$border_width_subability: 0 0 0 2px !default;

$border_style_title: $border_style_main !default;
$border_width_title: 0 0 2px !default;

$background: #6f6 !default;

$color_background_main: rgba(255, 255, 255, 85%) !default;
$color_background_secondary: rgba(255, 255, 255, 35%) !default;
$color_background_secondary: $color_background_secondary !default;
$color_background_table_even: rgba(255, 128, 128, 35%) !default;
$color_background_table_odd: $color_background_secondary !default;

$font_title: sans-serif !default;
$font_symbol: sans-serif !default;
$font_main: sans-serif !default;
$font_code: monospace !default;

$font_weight_main: normal !default;
$font_weight_strong: bold !default;
$font_weight_code: normal !default;
$font_weight_title: bold !default;
$font_weight_symbol: normal !default;

$font_style_main: normal !default;
$font_style_em: oblique !default;

$menu_mobile_seperator: " • " !default;

$media_desktop: 'only screen and (min-width: 70em)';
$media_mobile: 'not screen and (min-width: 70em)';

///
/// Mixins
///

@mixin border($style, $width) {
  border-color: $color_border;
  border-style: $style;
  border-width: $width;
}

@mixin font_main {
  font-family: $font_main;
  font-style: $font_style_main;
  font-weight: $font_weight_main;
}

@mixin font_code {
  font-family: $font_code;
  font-style: $font_style_main;
  font-weight: $font_weight_code;
}

@mixin font_title {
  font-family: $font_title;
  font-style: $font_style_main;
  font-weight: $font_weight_title;
}

@mixin font_symbol {
  font-family: $font_symbol;
  font-style: $font_style_main;
  font-weight: $font_weight_symbol;
}

///
/// General layout elements
///

ul {
  margin: 0;
  padding-left: 1.75em;

  // Recursive lists
  :not(li) > & {
    margin: 0.8rem 0 0.8rem 0;
  }
  li > & {
    margin: 0.2rem 0 0.2rem 0;
  }
}

img {
  border: 0;
}

hr {
  height: 1px;
  padding: 0;
  @include border($border_style_title, $border_width_title);
}

///
/// Typography
///

body {
  @include font_main;
  color: $color_text;
}

a {
  @include font_main;

  &:link, &:visited {
    color: $color_link;
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}

b, strong {
  font-weight: $font_weight_strong;
  font-style: $font_style_main;
}

i, em {
  font-weight: $font_weight_main;
  font-style: $font_style_em;
}

p {
  margin: 0.6rem 0 0.6rem 0;
}

.section {
  float: right;
  user-select: none;
}

.section, .symbol {
  @include font_symbol;
}

.calc, .c {
  margin-left: -0.4em;
  margin-right: -0.4em;
  line-height: 100%; // ensure we don't fuck stuff up
}

///
/// Headings
///

.h0, h1 {
  text-align: center;
}

h1 {
  @include border($border_style_title, $border_width_title);
}

.h0, h1, h2, h3, h4, h5, h6 {
  @include font_title;
}

.h0 {
  font-size: 3.65em;
  margin: 0.1em 0 0 0;
  padding: 0 0 0.3em 0;

  width: 100%;
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0.1em 0 0 0;
  padding: 0 0 0.25em 0;
}

h2 {
  font-size: 1.9em;
  margin: 1.5rem 0 0.6rem 0;

  // common case that looks good with a margin override
  h1 + & {
    margin: 0.75rem 0 0.6rem 0;
  }
}

h3 {
  font-size: 1.4em;
  margin: 1.1rem 0 0.6rem 0;
}

h4 {
  font-size: 1em;
  margin: 0.9rem 0 0.6rem 0;
}

///
/// Code Formatting
///

div.highlight {
  // allow these divs to flow properly
  overflow-x: auto;
}

.highlight {
  // non-block quote
  color: $color_code_block;
}

:not(div.highlight > pre) > code {
  // block quote
  color: $color_code;
}

.highlight, :not(div.highlight > pre) > code {
  @include font_code;

  background-color: $color_background_secondary;
  @include border($border_style_code, $border_width_code);
  padding: 0 1px 1px 1px;
}

.highlight > pre {
  padding: 0.67em;
  margin: 0;
}

///
/// Sidebar layout
///

blockquote, .ability {
  padding: 0.01em 0.7em 0.01em 0.7em;
  background: $color_background_secondary;
}

table {
  padding: 0;
  border-spacing: 0;
}

tr:last-child > td {
  padding-bottom: 0.2rem;
}

th, td {
  .header > & {
    padding-top: 0.25rem;
    padding-bottom: 0.3em;
  }

  &:first-child {
    padding-left: 0.7em;
  }

  &:last-child {
    padding-right: 0.7em;
  }

  + th, + td {
    padding-left: 0.7em;
  }
}

.even, .header {
  background: $color_background_table_even;
}

.odd {
  background: $color_background_table_odd;
}

.ability {
  > h6 {
    font-size: 1.2rem;
    margin: 0;
  }

  + .ability {
    margin-top: 0.6rem;
  }
}

.subability {
  background: none;
  padding-right: 0;
  @include border($border_style_subability, $border_width_subability);

  > h6 {
    font-size: 1rem;
    margin: 0;
  }
}

.ability-head {
  float: right;

  @include font_main;
  font-weight: $font_weight_title;
  user-select: none;

  padding-right: 0.6rem;
}

.subability-head {
  padding-right: 0;
}

blockquote, table, .ability {
  margin: 0;
  @include border($border_style_secondary, $border_width_secondary);

  + blockquote, + table, + .ability {
    margin-top: 0.6rem;
  }

  &:last-child {
    margin-bottom: 0.4em;
  }

  > p:last-child {
    margin-bottom: 0.4em;
  }

  > h2, > h3, > h4, > h5, > h6 {
    margin-top: 0.4em;
  }
}

///
/// Page Layout
///

body {
  background: $background;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#grid {
  display: grid;
  gap: $grid_spacing;
  padding-left: $grid_spacing;
  padding-right: $grid_spacing;
  padding-bottom: $grid_spacing;

  width: 100%;
  max-width: 70em;
}

nav, #menu-inner, article {
  box-sizing: border-box;
}

article {
  width: 100%;
  min-height: 100%;
  padding: 5px 15px 5px 15px;
}

#menu-inner, article {
  background-color: $color_background_main;
  @include border($border_style_main, $border_width_main);
}

#menu-inner {
  width: 100%;
  position: sticky;
  top: $grid_spacing;
  padding: 5px 10px 5px 10px;
}

.nav-hr {
  margin: 0.85em 0;
}

.no-p > p {
  margin: 0;
}

.a-left {
  float: left;
}

.a-right {
  float: right;
}

.a-left, .a-right {
  @include font_symbol;
  user-select: none;
}

.nav-span > ul {
  margin: 0.2rem 0 0.2rem 0;
}

@media #{$media_desktop} {
  #grid {
    grid-template-columns: 15em 1fr;
    grid-template-rows: 0fr 1fr;
  }
  header {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  nav {
    grid-row: 2;
    grid-column: 1;
  }
  main {
    grid-row: 2;
    grid-column: 2;
  }

  .nav-header {
    display: block;
    margin-bottom: 0.2em;
    text-align: center;
    @include font_title;
  }

  #subpages-section {
    display: none;
  }
}

@media #{$media_mobile} {
  #grid {
    grid-template-rows: 0fr 0fr 1fr;
  }
  header {
    grid-row: 1;
    grid-column: 1;
  }
  nav {
    grid-row: 2;
    grid-column: 1;
  }
  main {
    grid-row: 3;
    grid-column: 1;
  }

  #gen-menu > ul, #gen-menu > ul > li {
    display: inline;
    padding: 0;
  }

  #gen-menu > ul > li:before {
    content: $menu_mobile_seperator;
    @include font_symbol;
  }

  .nav-desk {
    display: none;
  }
}
