<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="../resources/img/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/webfonts/fonts.css">
    </head>
    <body>
        <div id="grid">
            <header></header>
            <nav>
                <div id="menu-inner" class="no-p">
                    <span id="gen-menu"></span>
                    <hr>
                    <span id="gen-toc"></span>
                </div>
            </nav>
            <main><article></article></main>
        </div>
    </body>
</html>
