<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="../resources/img/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/webfonts/fonts.css">
    </head>
    <body>
        <div id="grid">
            <header></header>
            <nav>
                <div id="menu-inner" class="no-p">
                    <span id="nav-sections" class="nav-header">
                        <span class="a-left nav-dec">《</span><b>Navigation</b><span class="a-right nav-dec">》</span>
                    </span><!--
                    --><span id="gen-menu" class="nav-span"></span>
                    <hr id="nav-hr">
                    <span id="nav-banner-toc" class="nav-header">
                        <span class="a-left nav-dec">《</span><b>Contents</b><span class="a-right nav-dec">》</span>
                    </span>
                    <span id="gen-toc" class="nav-span"></span>
                </div>
            </nav>
            <main><article></article></main>
        </div>
    </body>
</html>
