<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="/static/img_xxxxxxxx/style.css">
        <link rel="stylesheet" type="text/css" href="/static/img_xxxxxxxx/main_article.css">
        <link rel="stylesheet" type="text/css" href="/static/img_xxxxxxxx/fonts.css">
    </head>
    <body>
        <nav>
            <div id="nav-container">
                <div id="menu-inner" class="no-p"></div>
                <div id="menu-footer" class="no-p">
                    <p>
                        <a href="mailto:lymia@lymiahugs.com" class="icon" aria-label="Email Me"><span class="icon-email"></span></a>
                        <a href="//github.com/Lymia" class="icon" aria-label="My GitHub"><span class="icon-github"><span class="icon-label"><b>My Github</b></span></span></a>
                    </p>
                </div>
            </div>
        </nav>
        <article></article>
    </body>
</html>
